/* Font weights */
/* Border */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Cabin", sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body, ul {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button {
  font-family: "Cabin", sans-serif;
  cursor: pointer; }

.btn, .btn-works {
  border: none; }

.flex-space-between, .cards-section, .find-section_content, .near-section_content, .anytime-section_content, .nav-header, .footer_nav ul {
  display: flex;
  justify-content: space-between; }

.cards-section, .find-section_content, .near-section_content, .anytime-section_content {
  align-items: center;
  padding: 4rem 7rem;
  color: #fff;
  max-width: 133rem;
  margin: 0 auto; }
  .cards-section h3, .find-section_content h3, .near-section_content h3, .anytime-section_content h3 {
    font-size: 2.2rem;
    margin-bottom: 1.7rem; }
  .cards-section p, .find-section_content p, .near-section_content p, .anytime-section_content p {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 1.8rem; }
  .cards-section img, .find-section_content img, .near-section_content img, .anytime-section_content img {
    width: 27em;
    height: 27rem;
    border-radius: 50%; }
  .cards-section .btn_cards, .find-section_content .btn_cards, .near-section_content .btn_cards, .anytime-section_content .btn_cards {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 1.3rem;
    font-weight: 600; }

.max-width_cards {
  max-width: 1130rem;
  margin: 0 auto; }

.footer_border, .footer_nav {
  border-top: 2px solid #4d5252;
  border-bottom: 2px solid #4d5252; }

.nav-header {
  background-color: #e74c3a;
  color: #fff;
  font-size: 1.5rem;
  align-items: center;
  padding: 2rem 4.5rem; }
  .nav-header .logo-header {
    font-size: 2.5rem; }
  .nav-header .links-header li {
    display: inline-block; }
    .nav-header .links-header li:not(:last-child) {
      margin-right: 2.8rem; }
    .nav-header .links-header li a {
      color: #fff; }

.banner-header {
  height: 80vh;
  background-image: linear-gradient(90deg, rgba(24, 23, 26, 0.8) 8%, rgba(46, 46, 48, 0.7) 58%), url("../../../images/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.info-header-container {
  width: 60%;
  text-align: center; }
  .info-header-container h1 {
    color: #fff;
    font-size: 2.5rem;
    text-align: left; }

.search-header {
  background-color: rgba(194, 193, 193, 0.322);
  padding: 5rem;
  width: 100%;
  border-radius: 1.4rem;
  text-align: left; }
  .search-header .form-search label {
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 0.7rem; }

.sub-cont {
  display: flex; }
  .sub-cont input {
    width: 85%;
    border: none;
    height: 2.8rem; }
  .sub-cont a {
    background-color: #e74c3a;
    padding: 0.4rem 1.4rem 0;
    color: #fff;
    display: inline-block;
    margin-left: 0.6rem;
    font-size: 1.4rem; }

.btn-works {
  background-color: #c2c1c1;
  padding: 1.2rem 0.8rem;
  border-radius: 0.4rem;
  font-weight: 500;
  margin-top: 2.7rem; }

main {
  margin-top: 3rem; }

.steps_section {
  padding: 3rem 0 0 0;
  max-width: 1130rem;
  margin: 0 auto; }
  .steps_section h2 {
    color: #e74c3a;
    text-align: center;
    font-size: 2rem;
    font-weight: 600; }

.steps-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 5rem;
  margin-top: 8rem; }

.step {
  text-align: center;
  padding: 0 9rem; }
  .step i {
    font-size: 2.5rem; }
  .step h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700; }
  .step p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3.6rem; }

.find-section {
  background-color: #e74c3a; }
  .find-section_btn {
    color: #e74c3a; }

.near-section {
  background-color: #98a4a5; }
  .near-section_btn {
    color: #98a4a5; }

.anytime-section {
  background-color: #509bd7; }

.footer {
  background-color: #000;
  padding: 4rem 7rem; }
  .footer_nav {
    max-width: 137rem;
    margin: 0 auto;
    padding: 1.3rem 1rem;
    position: relative; }
    .footer_nav ul li a {
      color: #fff;
      font-size: 1.8rem; }
  .footer_circle {
    border: 2px solid #4d5252;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-size: 4rem;
    left: 46%;
    top: -63%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; }
  .footer_logo {
    background-color: #000; }

/*# sourceMappingURL=style.css.map */
