.footer {
  background-color: $black-color; 
  color: $white-color;
  &_main {
    padding: 4rem 7rem 0;
  }
  &_nav {
    @include max-width_center(137rem);
    @extend .footer_border;
    padding: 1.3rem 1rem;
    position: relative;
    ul {
      @extend .flex-space-between;
      li {
        a {
          color: $white-color;
          font-size: 1.8rem;
          text-transform: uppercase;
          font-weight: $semi-bold;
        }
      }
    }
  }
  &_circle {
    border: $border-footer;
    @include circle(11rem);
    position: absolute;
    color: $white-color;
    font-size: 4rem;
    left: 46%;
    top: -63%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-color;
  }
  &_logo {
    background-color: $black-color;
  }
  &_contact {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1.1fr;
    column-gap: 2rem;
    margin: 4rem 0 2rem;

    h4 {
      font-size: 2.2rem;
      margin-bottom: 2.3rem;
      text-align: center;
    }
    p {
      font-size: 1.4rem;
      color: $gray-background;
      text-align: center;
    }
    a {
      color: $red-color;
    }
    &-subscribe {
      input {
        background-color: transparent;
        border: 2px solid #4d5252;
        border-radius: 0.3rem;
        padding-left: 0.7rem;
        height: 3rem;
        width: 75%;
      }
    }
  }
  &_social {
    background-color: $gray-dark;
    color: $gray-opaque;
    @extend .flex-space-between;
    padding: 1.7rem 1.5rem;
    &-icons {
      font-size: 1.5rem;
      i {
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 1.4rem;
        }
      }
    }
    &-copyright {
      p{
        text-transform: uppercase;
        font-weight: $bold;
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-bottom: 0;
      }
    }
  }
}

.btn_footer {
  background-color: $gray-opaque;
  color: $white-color;
  height: 3rem;
  margin-left: -1rem;
  width: 8rem;
  font-weight: $semi-bold;
}