.nav-header {
  background-color: $red-color;
  color: $white-color;
  font-size: 1.5rem;
  @extend .flex-space-between;
  align-items: center;
  padding: 1rem 4.5rem;
  .logo-header{
    font-size: 2.5rem;
  }
  .links-header {
    li{
      display: inline-block;
      &:not(:last-child) {
        margin-right: 2.8rem;
      }
      a {
        color: $white-color
      }
    }
  }
}
.banner-header {
  height: 80vh;
  background-image: linear-gradient(90deg, rgba(24, 23, 26, 0.8) 8%, rgba(46, 46, 48, 0.7) 58%), url('../../../images/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-header-container {
  width: 60%;
  text-align: center;
  h1{
    color: $white-color;
    font-size: 2.5rem;
    text-align: left;
  }
}
.search-header {
  background-color: $gray-color-transparency;
  padding: 5rem;
  width: 100%;
  border-radius: 1.4rem;
  text-align: left;
  .form-search {
    label {
      display: block;
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 0.7rem;
    }
  }
}

.sub-cont {
  display: flex;
  input {
    width: 85%;
    border:none;
    height: 2.8rem;
   }
   a {
     background-color: $red-color;
     padding: 0.4rem 1.4rem 0 ;
     color: $white-color;
     display: inline-block;
     margin-left: 0.6rem;  
     font-size: 1.4rem;
    }
}

.btn-works {
  @extend .btn;
  background-color: $gray-color;
  padding: 1.2rem 0.8rem;
  border-radius: 0.4rem;
  font-weight: 500;
  margin-top: 2.7rem;
}
