.main_results {
  margin-top: 7rem;
  @media screen and(max-width:768px){
    margin-top: 3rem;
  }
}

.filter {
  background-color: $gray-background-2;
  @extend .flex-space-center;
  flex-direction: column;
  padding: 5% 1%;
  h1 {
    color: $gray-background;
    font-weight: $bold;
    margin-bottom: 4rem;
    font-size: 2.8rem;
    @media screen and(max-width:768px){
      text-align: center;
    }
  }
  &_form {
    @extend .flex-space-between;
    @media screen and (max-width:1024px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-field{
      &:not(:last-child) {
        margin-right: 0.3rem;
      }
      @media screen and(max-width:768px) {
        width: 100%;
        padding: 0 2rem;
      }
      label {
        display: block;
        font-size: 1.8rem;
        font-weight: $bold;
        color: $gray-opaque;
        margin-bottom: 0.4rem;
      }
      input, select {
        border: 1px solid $gray-color;
        height: 3.3rem;
        border-radius: 0.4rem;
        @media screen and(max-width:768px) { 
          width: 100% !important;
        }
      }
      select {
        width: 13rem;
      }
    }
    &__btn{
      color: $white-color;
      font-weight: $bold;
      height: 3.2rem;
      margin-top: 2.5rem;
      border-radius: 0.4rem;
      padding: 0 2rem;
    }
  }
  &-btn_search {
    background-color: $blue-marin;
  }

  &-btn_clear {
    background-color: $yellow-dark;
  }
}

.results {
  padding: 6rem 0 10rem;
  @media screen and (max-width:768px) { 
    padding: 2rem 0 10rem;
  }
  h2 {
    color: $gray-opaque;
    text-align: center;
    font-size: 4rem;
    font-weight: $medium;
    @media screen and (max-width:768px) {
      @include max-width_center(60%);
      font-size: 3rem;
    }
  }
  &-grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(38.4rem, 1fr));
    @include max-width_center(125.4rem);
    gap: 3rem;
    padding: 0 2rem;
    @media screen and (max-width:768px) {
      grid-template-columns: 1fr;
    }
    &_item {
      background-image: linear-gradient(to bottom, rgba($red-results, 0.87) , rgba($red-results, 0.82)), url("../images/dr-results.jpg");
      background-size: cover;
      background-position: center;
      height: 36rem;
      padding: 6rem 4rem;
      @media screen and (max-width:768px) {
        padding: 8rem 1.5rem;
        text-align: center;
      }
      p{
        font-size: 2.3rem;
        color: $white-color;
        text-transform: uppercase;
        span {
          font-weight: $bold;
        }
        @media screen and (max-width:768px) { 
          font-size: 1.8rem;
        }
      }
    }

  }
  
}