.center-container {
  margin: 0 auto;
}

.cards-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 7rem;
  color: $white-color;
  @include  max-width_center(133rem);
  h3{
    font-size: 2.2rem;
    margin-bottom: 1.7rem;
  }
  p{
    font-size: 1.7rem;
    font-weight: $regular;
    margin-bottom: 1.8rem;
  }
  img {
    width: 27em;
    height: 27rem;
    border-radius: 50%;
  }
  .btn_cards {
    background-color: $white-color;
    border-radius: 0.5rem;
    padding: 1rem 1.3rem;
    font-weight: $semi-bold;
  }
}

.max-width_cards {
  @include max-width_center(1130)
}