$red-color: #e74c3a;
$red-results:#d85e4b;

$white-color: #fff;
$black-color: #000;

$gray-color:rgb(194, 193, 193);
$gray-color-transparency:rgba(194, 193, 193, 0.322);
$gray-background: #98a4a5;
$gray-background-2:#eee;
$gray-opaque: #4d5252;
$gray-dark:#292b2b;

$blue-color: #509bd7;
$blue-marin: #457db4;

$yellow-dark: #e5ab5b;
