html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $main-font;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: $main-font;
  cursor: pointer;
}

.btn {
  border:none;
 }
